@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
   
    <div class="carousel-inner" role="listbox">
       <h1>Witaj na stronie głównej!</h1>
      
       
    </div>
   
</div>

<div class="row">
  
</div>
